/*Estilos generales*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #fcdcc1;
    font-family: Arial, Helvetica, sans-serif;
}
a { text-decoration: none; }
select:focus { outline: none; } /* esto hace que no se le genere un borde al select cuando es pulsado */

.selectArticulos { width: 300px; }