table{ 
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
    min-height: 200px;
}
th{
    background: #17556c;
    text-align: justify;
    padding: 3px 0;
    padding-left: 10px;
}

th:nth-child(1) {
    padding-left: 18px;
}

th:nth-child(2) {
    padding-left: 50px;
}
th:nth-child(3), th:nth-child(4) {
    padding-left: 17px;
}
td:nth-child(5) {
    padding-left: 23px;
}
td:nth-child(6){
    padding-left: 25px;
} 

td:nth-child(8), td:nth-child(9), td:nth-child(10), td:nth-child(11){
    padding-left: 15px;
}

td{
    background:#fdbf8d;
    padding: 7px 0;
    text-align: justify;
    padding-left: 12px;
}

th:nth-child(5) { 
    padding-left: 20px;
}

td:nth-child(7) { 
    text-align: center;
}

tbody > tr > td:nth-child(11){
    padding-right: 5px;
}

.selectArticulos {
    padding: 5px;
    border-radius: 4px;
} 


/*Esitlos componente articulosByUser*/
.contentTablas { 
    width: 95%;
    margin: auto;
    margin-top: 4rem;  
}

.titleItemByUser { margin: 0; margin-bottom: 0.7rem;}

.itemsByUser {
    width: 300px;
    border-radius: 3px;
    margin: 0;
    margin-bottom: 1.3rem;
    padding-left: 6px;
}
.btnEnviar, .generarPdf {
    margin-left: 1.4rem;
    padding: 5px;
    cursor: pointer;
    border: none;
    font-size: 1.2em;
    background: #fffdfd;
    border-radius: 3px;
    transition: background .4s ease;
}
.generarPdf {
    font-size: 17px;
    background: #fdbf8d;
}
.generarPdf:hover{
    background: #e0a371;
}
.btnEnviar:hover { background: rgb(233, 226, 226)}