/*Estilos componente updateCodigo*/

.formUpdCodigo {
    background: #fff;
    width: 340px;
    padding: 10px;
    border-radius: 3px;
}

.formUpdCodigo > p { font-size: 17px; margin-bottom: 2.5rem;}
.labelUpdCodigo { 
    font-size: 20px; 
    font-weight: bold;
}
.inputUpdCodigo {
    margin: 0;
    margin-top: 0.3rem;
    margin-bottom: 0.9rem;
}
#msgOfProceso { margin: 0;  font-size: 20px; margin-top: 0.7rem; margin-bottom: 0.7rem;}
.btnUpdCodigo {
    display: block;
    padding: 8px;
    font-size: 20px;
    border: none;
    border-radius: 3px;
    background: #fcdcc1;
    cursor: pointer;
    margin-bottom: 0.8rem;
}

.cerrar {
    background: rgba(192, 29, 29, 0.904);
    margin-bottom: 0;
}

/*Componente updateEstadoActual*/
.desinArticulo {
    font-size: 23px !important;
    margin: 0;
}

.margin {
    margin-bottom: 2rem;
}


/*Componente UpdateArticulo*/
.compUpdateItem {
    display: flex;
    flex-direction: column;
    width: 380px;
    padding: 10px;
    background: #fff;
    border-radius: 3px;
    margin: 1.4rem 0;
}
.compUpdateItem > h3 { margin: 0; margin-bottom: 17px; }

.compUpdateItem > label {
    font-size: 17.8px;
}
.compUpdateItem > select { margin: 0; padding: 3px !important; margin: 0.5rem 0; width: 97%; }

.formUpdateItem {
    margin: 0;
    width: 95%;
    font-size: 16px;
    margin-top: 0.2rem;
    margin-bottom: 0.8rem;
    padding-left: 0;
}

.compUpdateItem > button {
    border: none;
    background: #fcdcc1;
    cursor: pointer;
    width: 80%;
    align-self: center;
    padding: 5px;
    border-radius: 5px;
    font-size: 17px;
}