.contentViewRegister{
    display: inline-block;
    width:40%;
    background:#FFF;
    padding:20px;
    border-radius:15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19);
    margin: 30px 0px;
    margin-left: 22px;
}

.formRegistro {
  display: flex;
  flex-direction: column;
}

input, select {
    margin: auto;
    padding: 5px;
    font-size: 1em;
    border: none;
    border-bottom: 2px solid rgb(199, 199, 199);
    transition: border-bottom .3s ease;
    margin: 8px 0; 
}

select { width: 100%; }

input:focus{
  outline: none;
  border-bottom: 2px solid #fdcca5;
}

input::placeholder{
  color: black;
}

.fecha{
  margin: 0;
  font-size: 1em; 
  font-weight: bold;
  margin-top: 0.3rem;
}

.botonEnviar{
  border: none;
  padding: 10px;
  font-size: 1em;
  margin: 10px 0;
  background: #fde5d3;
  cursor: pointer;
  border-radius: 4px;
}  
.aviso { margin-bottom: 1rem; }