.relacionar{
    width: 500px;  
    margin: auto;
    background:#FFF;
    padding:20px;
    border-radius:15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19);
    margin-top: 60px;
}
.relacionarArticulos {
    display: flex;
    flex-direction: column;
}
